<form [formGroup]="form">
  <mat-grid-list cols="12" rowHeight="2:1" gutterSize="24px">
    <mat-grid-tile colspan="3">
      <mat-form-field>
        <mat-label>City Name</mat-label>
        <input matInput placeholder="Type city name" formControlName="cityName">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="3">
      <mat-form-field>
        <mat-label>Country Name</mat-label>
        <input matInput placeholder="Type country name" formControlName="countryName">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="3">
      <mat-form-field>
        <mat-label>Country Code</mat-label>
        <mat-select formControlName="countryCode">
          <mat-option *ngFor="let code of countryCodes" [value]="code.value">
            {{code.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="3">
      <mat-form-field>
        <mat-label>Continent</mat-label>
        <input matInput placeholder="Type continent" formControlName="continent">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="3">
      <mat-form-field>
        <mat-label>Population</mat-label>
        <input matInput placeholder="Type population" formControlName="population">
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="actions">
    <button (click)="search()" mat-raised-button color="primary">Search</button>
    <button (click)="form.reset()" mat-raised-button color="primary">Reset search</button>
  </div>
</form>

